body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./IMAGES/b4.avif);

  
}
header{
    background-image: url(./IMAGES/b7.jpg);
    color: rgb(226, 224, 235);
    text-align: center;
    padding: 1em 0;

}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-decoration: none;
    color: transparent;
    background-image: url(./IMAGES/bc2.jpg);
}

.links a {
    text-decoration: none;
    color: rgb(197, 236, 24);
    transition: all 1s;
}

.links a:hover {
    text-decoration: underline;
    color: rgb(216, 8, 147);
    font-size: 20px;

}

nav {
    background-image: url(./IMAGES/dd.jpg);
    background-repeat: no-repeat;
    padding: 2%;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#gallery {
    background-image: url(./IMAGES/ba5.jpg);
    padding: 2%;
    width: 100%;
    height: 250vh;
    
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(230, 216, 216);
    border-radius: 20px;
}

#message {
    border-radius: 50px;
}

#messages {
    border-radius: 50px;

}

ul li {
    list-style-type: none;
    padding-top: 20px;
    color: rgb(240, 25, 193);
    font-size: 20px;
}
#about{ 
    background-image: url(./IMAGES/ba1.jpg);
    padding: 2%;
    width: 100%;
    height: 100vh;
}

#color {
    background-image: url(./IMAGES/bc2.jpg);
    padding: 2%;
    width: 100%;
    height: 100vh;
}
#price{
    background-image: url(./IMAGES/cc2.jpg);
    padding: 2%;
    width: 100%;
    height: 100vh;
}

#contact {
    background-image: url(./IMAGES/ba4.jpg);
    padding: 2%;
    width: 100%;
    height: 100vh;
}

footer{
    background-color: #333;
    padding: 2em;
    height: 10vh;
    text-align: center;
    padding: 1em 0;
    color: white;
    position: down;
    width: 100%;
    bottom: 0;

}
header{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#first {
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2em;
}
table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 1em;
    text-align: left;
}
th {
    background-color: #333;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
#dress{
    display: flex;
    flex-direction: column;
    background-image: url(./IMAGES/ba6.jpg);
    padding: 1em;
    gap: 3em;
}


.gallerys {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}
 